<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BankingSuite"
       parallel="tests"
       thread-count="1">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="LoginTest">

        <classes>
            <class name="testcases.guru99.LoginTest"/>
        </classes>

    </test>

    <test name="CustomerTest">

        <classes>
            <class name="testcases.guru99.CustomerTest"/>
        </classes>

    </test>

    <test name="BankingWorkflowTest">

        <classes>
            <class name="testcases.guru99.BankingWorkflowTest"/>
        </classes>

    </test>

</suite>